.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0d0d0e;
  background-image: url(https://bucketbot.dev/imgs/round.png);
  background-repeat: repeat;
  animation: gradient 500s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainText {
  background-color: #0d0d0e;
  align-items: center;
  text-align: center;
  border: 4px solid #fff;
  border-radius: 50px;
  min-height: 25vh;
  display: flex;
  padding: 5px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainText a {
  color: white;
  padding: 0px 6px;
  word-wrap: normal;
  display: inline-block;
}

.MainText a:hover {
  color: rgb(152, 152, 255);
}

.MainText code {
  color: rgb(152, 152, 255);
  padding: 0px 6px;
  word-wrap: normal;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

@keyframes gradient {
  59% {
    background-position: center;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
